.alert-badge {
    z-index: 10;
    position: absolute;
    right: 100px;
    top: 500px;
}

.alert-button {
    width: 70px;
    height: 65px;
}

.alert-icon {
    height: 25px;
    font-size: 40px;
}

.ant-popover-inner-content {
    max-height: 170px;
    overflow-y: scroll;
}